In [1]:
import pandas as pd
import numpy as np

# Phase 1 : Import, Drop Columns, Add Columns

## Read the file

### Main file

In [20]:
df = pd.read_excel("./PPM2.xlsx")
row = len(df)
col = len(df.columns)
print("No. of Rows:" + str(row))
print("No. of Columns:" + str(col))
df.head()

No. of Rows:55324
No. of Columns:25

,Flag,WO,Status,Description,Work Type,Assigned To,Priority,Location,Sign Off Notes,Subject,...,Department,Action,Parent Work Order,Actual Start / Time,Actual Completion Date / Time,Downtime,Duration,On Hold Reason,Done By,Entered By
0,3.0,252276,Scheduled,Weekly Legionella Prevention Checklist West Bay,PPM,RLN-SOFT WSB,NaN,ACIFM/M/RED LINE/M001/01/RNST030,NaN,RNST030,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,Muhammad Khalid Shahab
1,3.0,252275,Scheduled,Weekly Legionella Prevention Checklist WAKRA,PPM,RLS-SOFT AWK,NaN,ACIFM/M/RED LINE/M004/01/RSST070,NaN,RSST070,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,Muhammad Khalid Shahab
2,0.0,252274,In Progress,Weekly Legionella Prevention Checklist Umma Gh...,PPM,RLS-SOFT UMG,NaN,ACIFM/M/RED LINE/M003/01/RSST020,NaN,RSST020,...,NaN,NaN,NaN,2020-06-11 05:02:13.233,NaT,NaN,NaN,NaN,NaN,Muhammad Khalid Shahab
3,3.0,252273,Scheduled,Weekly Legionella Prevention Checklist RBF,PPM,RLS-SOFT RBF,NaN,ACIFM/M/RED LINE/M004/01/RSST060,NaN,RSST060,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,Muhammad Khalid Shahab
4,3.0,252272,Scheduled,Weekly Legionella Prevention Checklist OQBA,PPM,RLS-SOFT OBN,NaN,ACIFM/M/RED LINE/M003/01/RSST040,NaN,RSST040,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,Muhammad Khalid Shahab

### Reference files

In [3]:
#Location References
dfLocation = pd.read_excel("./Ref.xlsx", "Location")
dfLocation.head()

      Code                     Station       Line
0  BSEE052  Blue Line Other Structures  Blue Line
1  BSSB050  Blue Line Other Structures  Blue Line
2  BSSB051  Blue Line Other Structures  Blue Line
3  BST1050  Blue Line Other Structures  Blue Line
4  BST2050  Blue Line Other Structures  Blue Line

In [4]:
#Department References
dfDepartment = pd.read_excel("./Ref.xlsx", "Department")
dfDepartment.head()

  Department   Department 2
0        fls            FLS
1       mech     Mechanical
2       elec     Electrical
3       soft  Soft Services
4       chil        Chiller

In [5]:
#Frequency Refertences
dfFrequency = pd.read_excel("./Ref.xlsx", "Frequency")
dfFrequency.head()

  FreqRef      Frequency
0    semi  Semi-Annually
1     -sa  Semi-Annually
2  annual       Annually
3    quar      Quarterly
4   month        Monthly

In [6]:
#System Refertences
dfSystem = pd.read_excel("./Ref.xlsx", "System")
dfSystem.head()

    SysRef   System
0     fahu     FAHU
1  ac chlr  AC CHLR
2     accu     ACCU
3      acu      ACU
4      ahu      AHU

## Drop unnecessary columns

In [7]:
try :
    del df['Flag']
except : 
    print('Column Deleted')
    
row = len(df)
col = len(df.columns)
print("No. of Rows:" + str(row))
print("No. of Columns:" + str(col))

No. of Rows:55324
No. of Columns:24

## Create additional columns

### Adding Status 2 & 3 Columns

In [8]:
def getStatus(txtFrom) :
    if "Scheduled" in txtFrom :
        return "Open"
    elif "In Progress" in txtFrom :
        return "Open"
    elif "New" in txtFrom :
        return "Open"
    elif "On Hold" in txtFrom :
        return "On Hold"
    elif "Closed" in txtFrom :
        return "Closed"
    elif "Not Done" in txtFrom :
        return "Closed"
    elif "Rejected" in txtFrom :
        return "Closed"
    else : return "NA"
    
def getStatus2(txtFrom) :
    if "On Hold" in txtFrom :
        return "Open"
    else : return txtFrom

df['Status 2'] = df['Status'].apply(lambda x: getStatus(x))
df['Status 3'] = df['Status 2'].apply(lambda x: getStatus2(x))

row = len(df)
col = len(df.columns)
print("No. of Rows:" + str(row))
print("No. of Columns:" + str(col))

df[['WO','Status','Status 2','Status 3']].head()

No. of Rows:55324
No. of Columns:26

       WO       Status Status 2 Status 3
0  252276    Scheduled     Open     Open
1  252275    Scheduled     Open     Open
2  252274  In Progress     Open     Open
3  252273    Scheduled     Open     Open
4  252272    Scheduled     Open     Open

### Adding Line and Station Columns

In [9]:
def getInput(listOfRef, txtFrom) :
    #listOfRef = dfLocation items
    #txtFrom = df current index

    for curRef in listOfRef :
        if curRef in txtFrom :
            return curRef
    return "not available"

df['Code'] = df['Location'].apply(lambda x: getInput(dfLocation['Code'], x))
dfWithLocation = pd.merge(df, dfLocation)

row = len(df)
col = len(df.columns)
print("Original No. of Rows:" + str(row))
print("Original No. of Columns:" + str(col))
print("-------------------------------------")
rowN = len(dfWithLocation)
colN = len(dfWithLocation.columns)
print("New No. of Rows:" + str(rowN))
print("New No. of Columns:" + str(colN))
print("-------------------------------------")
rowD = rowN - row
colD = colN - col
print("Difference in No. of Rows:" + str(rowD))
print("Difference in No. of Columns:" + str(colD))

dfWithLocation[['WO','Location','Code','Line','Station']].head()

#test = dfWithLocation.loc[dfWithLocation['']=="mech"]
#test[['WO','Assigned To','Department','Department 2']].head(100)

Original No. of Rows:55324
Original No. of Columns:27
-------------------------------------
New No. of Rows:55324
New No. of Columns:29
-------------------------------------
Difference in No. of Rows:0
Difference in No. of Columns:2

,WO,Location,Code,Line,Station
0,252276,ACIFM/M/RED LINE/M001/01/RNST030,RNST030,Red Line,West Bay
1,250287,ACIFM/M/RED LINE/M001/01/RNST030/Level E/R18,RNST030,Red Line,West Bay
2,250286,ACIFM/M/RED LINE/M001/01/RNST030/Level E/R18,RNST030,Red Line,West Bay
3,250285,ACIFM/M/RED LINE/M001/01/RNST030/Level E/R18,RNST030,Red Line,West Bay
4,250284,ACIFM/M/RED LINE/M001/01/RNST030/Level E/R14,RNST030,Red Line,West Bay

### Adding Frequency Column

In [10]:
#Fill Empty Task Field based on Frequency
dfWithLocation['Task/Work Subject Group'] = dfWithLocation['Task/Work Subject Group'].fillna("Annual")

dfWithLocation['Task/Work Subject Group'] = dfWithLocation['Task/Work Subject Group'].str.lower()

def getInput(listOfRef, txtFrom) :
    for curRef in listOfRef :
        if curRef in txtFrom :
            return curRef.lower()
    return "not available"


dfWithLocation['FreqRef'] = dfWithLocation['Task/Work Subject Group'].apply(lambda x: getInput(dfFrequency['FreqRef'], x))
dfWithLocation = pd.merge(dfWithLocation, dfFrequency)

row = len(df)
col = len(df.columns)
print("Original No. of Rows:" + str(row))
print("Original No. of Columns:" + str(col))
print("-------------------------------------")
rowN = len(dfWithLocation)
colN = len(dfWithLocation.columns)
print("New No. of Rows:" + str(rowN))
print("New No. of Columns:" + str(colN))
print("-------------------------------------")
rowD = rowN - row
colD = colN - col
print("Difference in No. of Rows:" + str(rowD))
print("Difference in No. of Columns:" + str(colD))

#Drop Reference
try :
    del dfWithLocation['FreqRef']
except : 
    print('*****Ref Column Deleted******')

dfWithLocation[['WO','Task/Work Subject Group','Frequency']].head()

Original No. of Rows:55324
Original No. of Columns:27
-------------------------------------
New No. of Rows:55324
New No. of Columns:31
-------------------------------------
Difference in No. of Rows:0
Difference in No. of Columns:4

       WO    Task/Work Subject Group Frequency
0  252276  acifm-leg-weekly-west bay    Weekly
1  250253            weekly-crao-wby    Weekly
2  250252            weekly-crac-wby    Weekly
3  250251            weekly-chwp-wby    Weekly
4  250250             weekly-ahu-wby    Weekly

### Adding System Column

In [11]:
def getInput(listOfRef, txtFrom) :
    for curRef in listOfRef :
        if curRef in txtFrom :
            return curRef.lower()
    return "not available"
    

dfWithLocation['SysRef'] = dfWithLocation['Task/Work Subject Group'].apply(lambda x: getInput(dfSystem['SysRef'], x))
dfWithLocation = pd.merge(dfWithLocation, dfSystem)

row = len(df)
col = len(df.columns)
print("Original No. of Rows:" + str(row))
print("Original No. of Columns:" + str(col))
print("-------------------------------------")
rowN = len(dfWithLocation)
colN = len(dfWithLocation.columns)
print("New No. of Rows:" + str(rowN))
print("New No. of Columns:" + str(colN))
print("-------------------------------------")
rowD = rowN - row
colD = colN - col
print("Difference in No. of Rows:" + str(rowD))
print("Difference in No. of Columns:" + str(colD))

#Drop Reference
try :
    del dfWithLocation['SysRef']
except : 
    print('*****Ref Column Deleted******')

dfWithLocation[['WO','Task/Work Subject Group','System']].head(3000)

Original No. of Rows:55324
Original No. of Columns:27
-------------------------------------
New No. of Rows:55324
New No. of Columns:32
-------------------------------------
Difference in No. of Rows:0
Difference in No. of Columns:5

          WO          Task/Work Subject Group         System
0     252276        acifm-leg-weekly-west bay  not available
1     252275           acifm-leg-weekly-wakra  not available
2     252274  acifm-leg-weekly-umm ghuwailina  not available
3     252273             acifm-leg-weekly-rbf  not available
4     252272            acifm-leg-weekly-oqba  not available
...      ...                              ...            ...
2995  105044          acifm-crac-monthly-m009      CRAC/CRAO
2996  141221          acifm-crac-monthly-m006      CRAC/CRAO
2997  141220          acifm-crac-monthly-m006      CRAC/CRAO
2998  141219          acifm-crac-monthly-m006      CRAC/CRAO
2999  141218          acifm-crac-monthly-m006      CRAC/CRAO

[3000 rows x 3 columns]

# Phase 2 : Formating and Validation

## Check for Null and Supply Data

### Supply empty Department Field

In [12]:
nullRows = dfWithLocation['Department'].isna().sum()
print("Department Initial Null count: " + str(nullRows))
nullRows2 = dfWithLocation['Assigned To'].isna().sum()
print("Assigned To Initial Null count: " + str(nullRows2))

#Fill empty Assigned To Field
#dfWithLocation['Department'].fillna(dfWithLocation['Assigned To'], inplace=True) -- For CM

dfWithLocation['Assigned To'] = dfWithLocation['Assigned To'].str.lower()

def checkDept(txtFrom, listOfRef):
    for curRef in listOfRef :
        if curRef in txtFrom :
            return curRef.lower()
    return "not available"

        
dfWithLocation['Department'] = dfWithLocation['Assigned To'] \
.apply(lambda x: checkDept(x, dfDepartment['Department']))

dfWithLocation = pd.merge(dfWithLocation, dfDepartment)

#dfWithLocation['Department'] = dfWithLocation['Department'].apply(lambda x: dfDepartment.loc[x['Department'] == dfDepartment['Department']])

#dfWithLocation['Department 2'] = dfDepartment.loc[dfDepartment['Department'] == dfWithLocation['Department'],['Department 2']]

nullRows2 = dfWithLocation['Department'].isna().sum()
print("After supplying Null count: " + str(nullRows2))

#dfWithLocation[['WO','Assigned To','Department','Department 2']].head(100)
#dfWithLocation.loc[dfWithLocation['Department']=="mech"]

Department Initial Null count: 16407
Assigned To Initial Null count: 0
After supplying Null count: 0

### Department Cross Checking

In [13]:
test = dfWithLocation.loc[dfWithLocation['Department']=="mech"]
test[['WO','Assigned To','Department','Department 2']].head(100)

           WO           Assigned To Department Department 2
24298  224380          rln-mech kat       mech   Mechanical
24299  250255          rln-mech wsb       mech   Mechanical
24300  250321         rln-mech decc       mech   Mechanical
24301  233414          rln-mech cor       mech   Mechanical
24302  220391          rln-mech alq       mech   Mechanical
...       ...                   ...        ...          ...
24393  126458  acifm mech  al sudan       mech   Mechanical
24394  126457  acifm mech  al sudan       mech   Mechanical
24395  126456  acifm mech  al sudan       mech   Mechanical
24396  126455  acifm mech  al sudan       mech   Mechanical
24397  126454  acifm mech  al sudan       mech   Mechanical

[100 rows x 4 columns]

### Covert Date format to m/d/yyyy

In [14]:
# try :
#     dfWithLocation['Planned Start'] = pd.to_datetime(dfWithLocation['Planned Start'], format='%Y%m%d').dt.strftime('%m/%d/%Y')
#     dfWithLocation['Raised Date'] = pd.to_datetime(dfWithLocation['Raised Date'], format='%Y%m%d').dt.strftime('%m/%d/%Y')
#     dfWithLocation['Actual Completion Date / Time'] = pd.to_datetime(dfWithLocation['Actual Completion Date / Time'], \
#                                                                      format='%Y%m%d').dt.strftime('%m/%d/%Y')
# except :
#     print("***Formated Already")
    
# dfWithLocation['Planned Start'] = dfWithLocation['Planned Start'].astype('datetime64[ns]')
# dfWithLocation['Raised Date'] = dfWithLocation['Raised Date'].astype('datetime64[ns]')
# dfWithLocation['Actual Completion Date / Time'] = dfWithLocation['Actual Completion Date / Time'].astype('datetime64[ns]')

# dfWithLocation[['WO','Planned Start','Raised Date','Actual Completion Date / Time']].head(20)

# Phase 3 : Arrangement, Order and Export

### Column Re-order

In [15]:
rowN = len(dfWithLocation)
colN = len(dfWithLocation.columns)
print("New No. of Rows:" + str(rowN))
print("New No. of Columns:" + str(colN))

row = len(dfWithLocation)
#dfComplete = dfWithLocation[['WO','Code','Line','Station','Status 2','Description', 'Location', 'Assigned To','Department 2', \
                             #'Planned Start','Raised Date','Actual Completion Date / Time']][0:row]
    

dfComplete = dfWithLocation
dfComplete.head()

New No. of Rows:55324
New No. of Columns:32

,WO,Status,Description,Work Type,Assigned To,Priority,Location,Sign Off Notes,Subject,Task/Work Subject Group,...,Done By,Entered By,Status 2,Status 3,Code,Station,Line,Frequency,System,Department 2
0,252276,Scheduled,Weekly Legionella Prevention Checklist West Bay,PPM,rln-soft wsb,NaN,ACIFM/M/RED LINE/M001/01/RNST030,NaN,RNST030,acifm-leg-weekly-west bay,...,NaN,Muhammad Khalid Shahab,Open,Open,RNST030,West Bay,Red Line,Weekly,not available,Soft Services
1,252275,Scheduled,Weekly Legionella Prevention Checklist WAKRA,PPM,rls-soft awk,NaN,ACIFM/M/RED LINE/M004/01/RSST070,NaN,RSST070,acifm-leg-weekly-wakra,...,NaN,Muhammad Khalid Shahab,Open,Open,RSST070,Al Wakra,Red Line,Weekly,not available,Soft Services
2,252274,In Progress,Weekly Legionella Prevention Checklist Umma Gh...,PPM,rls-soft umg,NaN,ACIFM/M/RED LINE/M003/01/RSST020,NaN,RSST020,acifm-leg-weekly-umm ghuwailina,...,NaN,Muhammad Khalid Shahab,Open,Open,RSST020,Umm Ghuwailina,Red Line,Weekly,not available,Soft Services
3,252273,Scheduled,Weekly Legionella Prevention Checklist RBF,PPM,rls-soft rbf,NaN,ACIFM/M/RED LINE/M004/01/RSST060,NaN,RSST060,acifm-leg-weekly-rbf,...,NaN,Muhammad Khalid Shahab,Open,Open,RSST060,Ras Bu Fontas,Red Line,Weekly,not available,Soft Services
4,252272,Scheduled,Weekly Legionella Prevention Checklist OQBA,PPM,rls-soft obn,NaN,ACIFM/M/RED LINE/M003/01/RSST040,NaN,RSST040,acifm-leg-weekly-oqba,...,NaN,Muhammad Khalid Shahab,Open,Open,RSST040,Oqba Ibn Nafie,Red Line,Weekly,not available,Soft Services

## Export to Excel

#### Comparison from Original File

In [16]:
row = len(df)
col = len(df.columns)
print("Original No. of Rows:" + str(row))
print("Original No. of Columns:" + str(col))
print("-------------------------------------")
rowN = len(dfWithLocation)
colN = len(dfWithLocation.columns)
print("New No. of Rows:" + str(rowN))
print("New No. of Columns:" + str(colN))
print("-------------------------------------")
rowD = rowN - row
colD = colN - col
print("Difference in No. of Rows:" + str(rowD))
print("Difference in No. of Columns:" + str(colD))

Original No. of Rows:55324
Original No. of Columns:27
-------------------------------------
New No. of Rows:55324
New No. of Columns:32
-------------------------------------
Difference in No. of Rows:0
Difference in No. of Columns:5

In [18]:
#dfComplete.to_excel("PPM output.xlsx")

# -------------------------------------- Done ------------------------------------